# .npmignore
node_modules/
.next/
.vscode/
.DS_Store
*.log
pnpm-lock.yaml

# 排除测试生成的文件夹，但千万不要排除模板！
next-app/
my-app/

# 确保以下模板被包含
!template-react/
!template-vue/

# 模板锁文件只用于仓库维护，生成项目时会重新创建
template-*/pnpm-lock.yaml
